*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#0b1120;
    color:white;
}

h3{
    text-align:center;
}

p{
    text-align:center;
}

.navbar{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:rgba(11,17,32,0.95);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.logo{
    font-size:30px;
    font-weight:700;
    color:#8b5cf6;
}

.nav-links{
    display:flex;
    gap:25px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.nav-links a:hover{
    color:#06b6d4;
}

@media(max-width:768px){

    .nav-links{
        display:none;
    }

}