*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#0b1120;
    color:white;
}

h3{
    text-align:center;
}

p{
    text-align:center;
}

.navbar{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:rgba(11,17,32,0.95);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.logo{
    font-size:30px;
    font-weight:700;
    color:#8b5cf6;
}

.nav-links{
    display:flex;
    gap:25px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.nav-links a:hover{
    color:#06b6d4;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
    background:linear-gradient(135deg,#0b1120,#1e1b4b);
}

.hero h1{
    font-size:72px;
    margin-bottom:10px;
}

.hero h3{
    color:#06b6d4;
    font-size:30px;
    margin-bottom:15px;
}

.hero p{
    max-width:700px;
    line-height:1.8;
    color:#d1d5db;
}

section{
    padding:100px 10%;
}

h2{
    text-align:center;
    margin-bottom:40px;
    color:#8b5cf6;
}
.card,
.timeline-card,
.project-card{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
}

.timeline{
    display:flex;
    flex-direction:column;
    gap:20px;
}

@media(max-width:768px){

    .hero h1{
        font-size:45px;
    }

    .hero h3{
        font-size:24px;
    }

    .nav-links{
        display:none;
    }

}